.main-div{
    /* main-frame */

position: relative;
width: 98vw;
height: 150vh;

background: #FFFFFF;
}


.panel-div{
/* config-panel */

position: absolute;
height: 160px;
left: 0px;
right: 0px;
top: 0px;

background: #FFFFFF;
}

.top-panel-div{
/* config-panel */

position: absolute;
height: 120px;
left: 0px;
right: 0px;
top: 0px;

background: #FFFFFF;
}

.top-left-panel-div{
 /* left-subpanel */

position: absolute;
left: 0%;
right: 50%;
top: 50px;
bottom: 0px;

background: #BBBBBB;
}

.top-center-panel-div{
    /* center-panel */

position: absolute;
left: 50%;
right: 25%;
top: 50px;
bottom: 0px;

background: #C4C4C4;
}

.top-right-panel-div{
    position: absolute;
    left: 75%;
    right: 25%;
    top: 50px;
    bottom: 0px;
    
    background: #969292;    
}



.main-panel{
/* blocks-stage-frame */

    position: absolute;
    left: 0px;
    right: 0px;
    top: 160px;
    bottom: 118.09px;

    background: #FFE5E5;
}

.editor{
    position: absolute;
    height: 438px;
    left: 466px;
    right: 0px;
    top: 0px;
    
    background: #C8F1FE;
}

.stage{
    position: absolute;
    width: 302px;
    height: 248px;
    left: 164px;
    top: 0px;
    
    background: #FBFDBC;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
}

.transforms-panel{    
    position: absolute;
    width: 164px;
    left: 0px;
    top: 0px;
    bottom: -0.09px;
    
    background: #FFE4C4;
}

.refactorings{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0%;
    bottom: 100%;

    background: #9B9B9B;
}