<!doctype html>

<html lang="en">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<head>
    <meta charset="utf-8">
    <title>Scratch Project Runner</title>
    <link rel="stylesheet" href="./suite.css" type="text/css" media="screen">
    
</head>
<body>
    <div class="runner-controls">
        <h2>Project Data</h2>
        <div ng-app="myApp" ng-controller="analysisTaskController" class="ng-cloak" id="#myApp">
            <form name="tasks">
                <label>Data:<input type="checkbox" ng-model="tasks.data" ng-init="tasks.data=false"></label>
                <label>Coverage:<input type="checkbox" ng-model="tasks.coverage" ng-init="tasks.coverage=true"></label>
            </form>
            <div>Total: {{projects.length}}, Missing: {{remainingTasks.data}}</div>
            <div ng-repeat="p in projects">
                id: {{p._id}} <br>
                data_status: {{getDataStatusStr(p._id)}} <br> 
                coverage: {{getAnalysisInfo(p._id,'coverage')['info']['green_flag_coverage']}} <br>
                dupexpr: {{getAnalysisInfo(p._id,'dupexpr')['info']}} <br>
            </div>      
        </div>
    </div>

    <div class="bench-frame-owner">
        <iframe id="bench_frame" name="bench_frame" src="" class="bench-frame"
            width="100%" height="100%"></iframe>
    </div>
    <script src="./scratch-vm.js"></script>
    <script src="./configs.js"></script>
    <script src="./manager.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
